<div class="container" align="center">
  <h2>{{ monthYear }}</h2>
  <table style="text-align: center; vertical-align: middle;">
    <thead>
      <tr style="background-color: lightgray; height: 30px;">
        <th class="tabrow">monday</th>
        <th class="tabrow">tuesday</th>
        <th class="tabrow">wednesday</th>
        <th class="tabrow">thursday</th>
        <th class="tabrow">friday</th>
        <th class="tabrow">saturday</th>
        <th class="tabrow">sunday</th>
      </tr>
    </thead>
    <tbody>
      <tr style="height: 10px;"></tr>
      <tr *ngFor="let week of dates">
        <td *ngFor="let day of week" class="tabrow">
          <div class="btn btn-outline-primary btn-lg btn-block"
            style="height: 100%; font-size: 30px;"
            [style.color]="day.color"
            [style.border-color]="day.borderColor"
            [style.background-color]="day.backColor"
            (click)="onCalendarClick()">
            {{ day.dayVal }}
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
