<div class="container">
  <div align="center">
    <h1>Workout Planning</h1>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div *ngFor="let plan of workoutPlans">

        <div *ngIf="plan != editedPlan">
          <p>
            {{ plan.name }}
            <span *ngIf="editedPlan == null">
              <button
                type="button"
                class="btn btn-outline-primary"
                style="margin-left: 10px;"
                (click)="editPlan(plan)">
                Edit
              </button>
              <button
                type="button"
                class="btn btn-outline-danger"
                style="color: red; margin-left: 10px;"
                (click)="removePlan(plan)">
                X Remove
              </button>
            </span>
          </p>
          <div *ngFor="let bind of plan.bindings" style="margin-top: 10px;">
            {{ bind.index + 1 }} - {{ bind.workout.name }}
          </div>
          <div style="margin-top: 10px;">
            <button
              *ngIf="!plan.scheduled"
              type="button"
              class="btn btn-outline-primary"
              (click)="schedulePlan(plan)">
              Schedule plan
            </button>
            <button
              *ngIf="plan.scheduled"
              type="button"
              class="btn btn-outline-danger"
              (click)="unschedulePlan(plan)">
              Unschedule plan
            </button>
          </div>
        </div>

        <div *ngIf="plan == editedPlan">

          <input type="text"
            class="form-control"
            name="name_{{ plan.index }}"
            [(ngModel)]="plan.name"
            placeholder="Enter plan name"
            required>

            <table>
              <tr *ngFor="let bind of plan.bindings" style="margin-top: 10px;">
                <td style="min-width: 200px;">
                  {{ bind.index + 1 }} - {{ bind.workout.name }}
                </td>
                <td>
                  <button
                    type="button"
                    class="btn btn-outline-danger"
                    style="color: red;"
                    (click)="removeWorkout(bind)">
                    X Remove
                  </button>
                </td>
              </tr>
            </table>

            <div>
              <span *ngFor="let work of availableWorkouts" style="margin-top: 10px; margin-right: 10px;">
                <button
                  type="button"
                  style="margin-top: 10px;"
                  class="btn btn-primary"
                  (click)="addWorkout(work)">
                  {{ work.name }}
                </button>
              </span>
            </div>

            <div>
              <button
                type="button"
                class="btn btn-outline-primary"
                style="margin-top: 10px;"
                [disabled]="plan.name == null || plan.name.length == 0"
                (click)="savePlan()">
                Save
              </button>

              <button
                type="button"
                class="btn btn-outline-danger"
                style="color: red; margin-top: 10px; margin-left: 10px;"
                (click)="cancelPlan(plan)">
                Cancel
              </button>
            </div>

        </div>

        <hr>
      </div>
      <div *ngIf="editedPlan == null">
        <button type="button" class="btn btn-outline-primary" (click)="addPlan()">
          + Create new Workout Plan
        </button>
      </div>
    </div>
  </div>
</div>
