<div class="container">
  <div align="center">
    <h1>Workout Constructor</h1>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="onSubmit()" #workoutForm="ngForm">
        <div class="form-group">
          <label for="name">Workout name</label>
          <input type="text" class="form-control" [(ngModel)]="workout.name" name="name" placeholder="Enter workout name" required>
          <small class="form-text text-muted">Pick a good name for your workout.</small>
        </div>
        <hr>
        <div *ngFor="let exercise of workout.exercises" class="form-group exercise">
          <div align="center">
            <h2>Exercise {{ exercise.index + 1 }}</h2>
          </div>
          <label for="name_{{ exercise.index }}">Exercise name</label>
          <input type="text" class="form-control" name="name_{{ exercise.index }}" [(ngModel)]="exercise.name" placeholder="Enter exercise name" required>

          <label for="weight_{{ exercise.index }}">Weight</label>
          <input type="number" class="form-control" name="weight_{{ exercise.index }}" [(ngModel)]="exercise.weight">

          <label for="instruction_{{ exercise.index }}">Instruction</label>
          <textarea class="form-control" name="instruction_{{ exercise.index }}" [(ngModel)]="exercise.instruction" rows="8" cols="80"></textarea>

          <label for="timeout_{{ exercise.index }}">Timeout</label>
          <input type="number" class="form-control" name="timeout_{{ exercise.index }}" [(ngModel)]="exercise.timeout">

          <h4>Rounds</h4>
          <div *ngFor="let round of exercise.rounds" class="form-group">
            <h5>Round {{ round.index + 1 }}</h5>
            <label for="repeat_{{ exercise.index }}_{{ round.index }}">Repeats</label>
            <input type="text" class="form-control" [(ngModel)]="round.repeat" name="repeat_{{ exercise.index }}_{{ round.index }}">
            <label for="timeout_{{ exercise.index }}_{{ round.index }}">Timeout</label>
            <input type="number" class="form-control" [(ngModel)]="round.timeout" name="timeout_{{ exercise.index }}_{{ round.index }}">
            <button type="button" class="btn btn-danger" style="margin-top: 5px;" (click)="removeRound(round, exercise)">Remove</button>
          </div>

          <button type="button" class="btn btn-success" (click)="addRound(exercise)">Add Round</button>
          <hr>
          <button type="button" class="btn btn-danger" style="margin-top: 5px;" (click)="removeExercise(exercise)">Remove</button>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-outline-primary btn-lg btn-block" (click)="addExercise()">+ Add Exercise</button>
        </div>
        <hr>
        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!workoutForm.valid" style="margin-right: 15px;">
            Save
          </button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
