<div class="container">
  <div align="center">
    <h1>Workout Editor</h1>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-12">
      <form (ngSubmit)="onSubmit()" #workoutForm="ngForm">
        <div class="form-group">
          <label for="name">Workout name</label>
          <input type="text" class="form-control" [(ngModel)]="workout.name" name="name" placeholder="Enter workout name" required>
          <small class="form-text text-muted">Pick a good name for your workout.</small>
        </div>
        <hr>
        <div *ngFor="let exercise of workout.exercises" class="form-group exercise">
          <!-- <div align="center">
            <h2>Exercise {{ exercise.index + 1 }}</h2>
          </div> -->
          <!-- <label for="name_{{ exercise.index }}">Exercise name</label> -->
          <input type="text" class="form-control" name="name_{{ exercise.index }}" [(ngModel)]="exercise.name" placeholder="Enter exercise name" required>

          <div style="margin-top: 15px;">
            <label for="external_{{ exercise.index }}">External source</label>
            <input type="checkbox" style="margin-left: 10px; vertical-align: middle;"
              name="external_{{ exercise.index }}"
              [(ngModel)]="exercise.externalSource"
              (click)="switchExternalSource(exercise)">
          </div>

          <div *ngIf="!exercise.externalSource">
            <label for="instruction_{{ exercise.index }}">Instruction</label>
            <textarea class="form-control" name="instruction_{{ exercise.index }}" [(ngModel)]="exercise.instruction" rows="8" cols="80"></textarea>

            <div style="margin-top: 10px;">
              <label>Images</label>
              <div *ngFor="let media of exercise.medias">
                <!-- <label for="url_{{ exercise.index }}_{{ media.index }}">Url</label>
                <input type="text" class="form-control" [(ngModel)]="media.url" name="url_{{ exercise.index }}_{{ media.index }}"> -->

                <div *ngIf="!media.image" style="margin-top: 10px;">
                  <label for="file_{{ exercise.index }}_{{ media.index }}">File</label>
                  <input type="file" name="file_{{ exercise.index }}_{{ media.index }}" placeholder="Upload file"
                    (change)="uploadMedia($event, media)" accept="image/jpeg, image/x-png, image/tiff, image/gif">
                  <button type="button" class="btn btn-outline-danger" style="color: red;"
                    (click)="removeMedia(media, exercise)">
                    X Cancel
                  </button>
                </div>

                <div *ngIf="media.image" style="margin-top: 10px;">
                  <button type="button" class="btn btn-outline-danger btn-remove"
                    (click)="removeMedia(media, exercise)">
                    X Remove
                  </button>
                  <img [src]="media.image" *ngIf="media.image" style="max-width: 500px; max-height: 500px;">
                </div>
              </div>
            </div>
            
            <button type="button" class="btn btn-outline-primary" style="margin-top: 10px;" (click)="addMedia(exercise)">+ Add Image</button>
            <div></div>
            <label style="margin-top: 10px;" for="weight_{{ exercise.index }}">Weight</label>
            <input type="number" class="form-control" name="weight_{{ exercise.index }}" [(ngModel)]="exercise.weight">

            <label style="margin-top: 10px;" for="timeout_{{ exercise.index }}">Timeout</label>
            <input type="number" class="form-control" name="timeout_{{ exercise.index }}" [(ngModel)]="exercise.timeout">

            <div style="margin-top: 10px;">
              <label>Rounds</label>
              <div *ngFor="let round of exercise.rounds" class="form-group">
                <h5>Round {{ round.index + 1 }}</h5>
                <label for="repeat_{{ exercise.index }}_{{ round.index }}">Repeats</label>
                <input type="text" class="form-control" [(ngModel)]="round.repeat" name="repeat_{{ exercise.index }}_{{ round.index }}">
                <label for="timeout_{{ exercise.index }}_{{ round.index }}">Timeout</label>
                <input type="number" class="form-control" [(ngModel)]="round.timeout" name="timeout_{{ exercise.index }}_{{ round.index }}">
                <button type="button" class="btn btn-outline-danger" style="margin-top: 5px; color: red;"
                  (click)="removeRound(round, exercise)">
                  X Remove Round
                </button>
              </div>
            </div>

            <button type="button" class="btn btn-outline-primary" (click)="addRound(exercise)">+ Add Round</button>
            <hr>
            <button type="button" class="btn btn-outline-danger"
              style="margin-top: 5px; color: red;" (click)="removeExercise(exercise)">
              X Remove Exercise
            </button>
          </div>

          <div *ngIf="exercise.externalSource">
            <input type="text" class="form-control" name="externalsource_{{ exercise.index }}" [(ngModel)]="exercise.externalLink" placeholder="Link to external source">
          </div>

        </div>
        <div class="form-group">
          <button type="button" class="btn btn-outline-primary btn-lg btn-block" (click)="addExercise()">+ Add Exercise</button>
        </div>
        <hr>
        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!workoutForm.valid" style="margin-right: 15px;">
            Save
          </button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
