<div class="container">
  <h1>Exercises</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let exercise of exercises">
        <td>{{ exercise.name }}</td>
        <td>
          <a [routerLink]="['/exercise-edit', exercise.id]"
            class="btn btn-outline-primary">
            Edit
          </a>
          <a class="btn btn-outline-danger"
             (click)="deleteExercise(exercise)">
            X Delete
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <a [routerLink]="['/exercise-create']"
    class="btn btn-primary">
    + Create exercise
  </a>
</div>
