<div class="container" align="center">
  <div class="row">
    <div class="col-lg-12" *ngIf="workout">
      <h1>{{ workout.name }}</h1>

      <table class="exercise_table">
        <tr>
          <td *ngFor="let exercise of workout.exercises"
            [style.width]="(100 / workout.exercises.length) + '%'"
            [style.font-weight]="getFontWeightStyle(exercise)"
            [style.border]="getBorderStyle(exercise)"
            [style.background]="getBackgroundStyle(exercise)">
            {{ exercise.name }}
          </td>
        </tr>
      </table>

      <hr>

      <div *ngIf="exercise">
        <h2>{{ exercise.name }}</h2>
        <div style="width: 80%;">
          <table style="width: 100%;">
            <tr>
              <td style="width: 30%;">
                <table style="width: 100%; text-align: center;">
                  <tr *ngFor="let element of performElements">
                    <td *ngIf="element.round" style="border: solid thin lightblue;"
                      [style.height]="getElementHeight(element)"
                      [style.background-color]="getBackgroundElementStyle(element)">
                      Round {{ (element.round.index + 1) | arabicRoman}}: {{ (element.round.repeatsDone == 0? '': (element.round.repeatsDone + '/')) }}{{ element.round.repeat }} Reps
                    </td>
                    <td *ngIf="!element.round" style="border: solid thin lightblue;"
                      [style.height]="getElementHeight(element)"
                      [style.background-color]="getBackgroundElementStyle(element)">
                      timeout: {{ element.timeout | numberTime }}
                    </td>
                  </tr>
                </table>
              </td>
              <td style="width: 70%;">
                <div style="text-align: center;">
                  <span class="image_border" *ngFor="let media of exercise.medias">
                    <img class="image" [src]="media.image">
                  </span>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-lg-12" style="margin-top: 10px;">

          <button *ngIf="!exerciseStarted"
            type="button" class="btn btn-outline-primary"
            style="font-size: 30px; width: 30%;"
            (click)="beginExercise()">
            Begin exercise ->
          </button>

          <div *ngIf="exerciseStarted">
            <div *ngIf="performElement.round" >
              <table cellpadding="5" cellspacing="5">
                <tr>
                  <td style="font-size: 24px;">Performed reps <hr></td>
                  <td>
                    <div><input type="number" class="round_repeat" [(ngModel)]="performElement.round.repeatsDone"></div>
                    <div><button type="button" class="btn btn-outline-primary max_round_repeat" (click)="performElement.round.repeatsDone = performElement.round.repeat;">max</button></div>
                  </td>
                  <td><button type="button" class="btn btn-outline-primary" style="font-size: 30px; height: 68px;" (click)="nextElement()">Next -></button></td>
                </tr>
              </table>
            </div>

            <div *ngIf="performElement.timeout != null && performElement.timeout > 0">
              <table cellpadding="5" cellspacing="5">
                <tr>
                  <td style="font-size: 24px;">Timeout </td>
                  <td style="font-size: 30px; border-right: solid thin lightblue; border-left: solid thin lightblue;">{{ performElement.timeout | numberTime}}</td>
                  <td><button type="button" class="btn btn-outline-danger" style="font-size: 30px; height: 68px;" (click)="nextElement()">Skip -></button></td>
                </tr>
              </table>
            </div>

            <div *ngIf="performElement.timeout != null && performElement.timeout == 0">
              <button type="button" class="btn btn-outline-primary" style="font-size: 30px; height: 68px;" (click)="nextElement()">Next -></button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
