<div class="container" align="center">
  <div class="row">
    <div class="col-lg-12" *ngIf="workout">
      <h1>{{ workout.name }}</h1>

      <table class="exercise_table">
        <tr>
          <td *ngFor="let exercise of workout.exercises"
            [style.width]="(100 / workout.exercises.length) + '%'"
            [style.font-weight]="getFontWeightStyle(exercise)"
            [style.border]="getBorderStyle(exercise)"
            [style.background]="getBackgroundStyle(exercise)">
            {{ exercise.name }}
          </td>
        </tr>
      </table>

      <hr>

      <div *ngIf="exercise">
        <h2>{{ exercise.name }}</h2>
        <div style="width: 80%;">
          <table style="width: 100%;">
            <tr>
              <td style="width: 30%;">
                <table style="width: 100%; text-align: center;">
                  <tr *ngFor="let element of performElements">
                    <td *ngIf="element.round" style="border: solid thin lightblue;"
                      [style.height]="getElementHeight(element)"
                      [style.background-color]="getBackgroundElementStyle(element)">
                      Round {{ (element.round.index + 1) | arabicRoman}}: {{ element.round.repeat }} Reps
                    </td>
                    <td *ngIf="!element.round" style="border: solid thin lightblue;"
                      [style.height]="getElementHeight(element)"
                      [style.background-color]="getBackgroundElementStyle(element)">
                      timeout: {{ element.timeout }} sec.
                    </td>
                  </tr>
                </table>
              </td>
              <td style="width: 70%;">
                <div style="text-align: center;">
                  <span class="image_border" *ngFor="let media of exercise.medias">
                    <img class="image" [src]="media.image">
                  </span>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-lg-12" style="margin-top: 10px;">

          <button *ngIf="!exerciseStarted"
            type="button" class="btn btn-outline-primary"
            style="font-size: 30px; width: 30%;"
            (click)="beginExercise()">Begin exercise -></button>

          <div *ngIf="exerciseStarted && performElement.round" >
            <input type="number" [value]="performElement.round.repeat">
            <button type="button" class="btn btn-outline-primary" (click)="roundDone()">Done</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
